/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    font-family: Avenir, sans-serif;
}

nav {
    width: 100%;
    margin: 0 auto 40px auto;
    background-color: rgb(227, 5, 20);
    background-color: firebrick;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
}

nav li {
    float: left;
    width: 25%; /*100% divisé par le nombre d'éléments de menu*/
    text-align: center; /*Centre le texte dans les éléments de menu*/
}

/*Evite que le menu n'ait une hauteur nulle*/
nav ul::after {
    content: "";
    display: table;
    clear: both;

}

nav a {
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent; /*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0; /*Agrandit le menu et espace la bordure du texte*/
}

nav a:hover {
    color: white;
    border-bottom: 2px white;
}

.conteneur {
    margin: 0 20px;
    height: 1500px;
}

body {
    font-size: 14px;
    line-height: 1.42857143
}

h1 {
    text-align: center;
    margin: 4% 0 4% 0;
}

.image {
    float: right;
    margin: 15px 15px 0 15px;
}

.image_geo {
    float: left;
    width: 250px;
    height: 250px;
    margin: 15px 15px 0 15px;
}

.wikitable_centre {
    font-size: 90%;
    width: 80%;
    border: 1px solid black;
    text-align: center;
    line-height: 120%;
    margin: auto;
}

.col1 {
    background: #ECECEC;
}

.col2 {
    background: #b2e3ff;
}

.col3 {
    background: #ffecb2;
}

.col4 {
    background: #d9edff;
}

.col5 {
    background: #ffffcc;
}

.col6 {
    background: #f5f5f5;
}

th, td {
    border: 1px solid black;
    text-align: center;
}

@keyframes slidy {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}


div#slider {
    width: 80%;
    max-width: 1000px;
    overflow: hidden;
    margin: 50px 0 50px 175px;
}

div#slider figure img {
    width: 20%;
    height: auto;
    float: left;
}

div#slider figure {
    width: 500%;
    margin: 0;
    padding: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
}


.img1 {
    text-align: center;
}

div {
    margin: 5% 5%;
}

.icone_savoie {
    width: 20%;
    height: 20%;
}

h2, h3 {
    margin: 2% 0 2% 0;
}

form {
    /* Just to center the form on the page */
    margin: 10% auto;
    width: 20%;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: firebrick;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin: 10% 10% 10% 10%;
}

label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings By default, textareas have a monospace font */
    font: 1em sans-serif;
    /* To give the same size to all text fields */
    width: 300px;
    box-sizing: border-box; /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}

textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;
    /* To give enough room to type some text */
    height: 5em;
}

.button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px;
    /* same size as the label elements */
}

button {
    /* This extra margin represent roughly the same space as the space between the labels and their text fields */
    margin-left: 0.5em;
}